<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form action="" method="post" id="edit_form">{% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="customer_name">
        <input type="text" class="form-control" id="customer_mobile">
        <input type="text" class="form-control" id="customer_due_amount">
        <button type="submit" class="btn btn-primary" id="save_data" onclick="saveData()">Submit</button>
    </div>
    </form>
    <div id="abc">
        <h3 id="edited_customer_name"></h3>
        <h3 id="edited_customer_mobile"></h3>
        <h3 id="edited_customer_due_amount"></h3>
    </div>
</div>


</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    var customer_name = "{{ customer.customer_name|safe }}";
    var customer_mobile = "{{ customer.customer_mobile_number|safe }}";
    var customer_due_amount = "{{ customer.customer_due_amount|safe }}";
    $("#customer_name").val(customer_name);
    $("#customer_mobile").val(customer_mobile);
    $("#customer_due_amount").val(customer_due_amount);
    $("#save_data").on('click', function () {
        var edited_1 = $("#customer_name").val();
        var edited_2 = $("#customer_mobile").val();
        var edited_3 = $("#customer_due_amount").val();
        {#$("#abc").text(edited_1 + "," + edited_2 + "," + edited_3)#}
        $("#edited_customer_name").text(edited_1);
        $("#edited_customer_mobile").text(edited_2);
        $("#edited_customer_due_amount").text(edited_3);
        saveData();
    });
{% comment %}

    function saveData() {
        var saved_customer_name = $('#edited_customer_name').text();
        var saved_customer_mobile = $('#edited_customer_mobile').text();
        var saved_customer_due_amount = $('#edited_customer_due_amount').text();


    }
{% endcomment %}

{% comment %}
    function productEditSaved(queryDataSet) {
        console.log(queryDataSet);
        var tcv = null;
        $.ajax({
            'async': false,
            'type': "GET",
            'global': false,
            'dataType': 'json',
            'data': queryDataSet,
            'Access-Control-Allow-Origin': '*',
            'url': "/value/product_saved",
            'success': function (data) {

                tcv = data;
            },
            'error': function (data) {

            }

        });
        return tcv;
    }
{% endcomment %}

    {% comment %}   function saveProduct() {



           var queryDataSet = {
               key: key,
               brand_name: brand_name_original,
               manufacturer_name: manufacturer_name_original,
               image_url: "",
               product_name: brand_name_original,
               category_name: product_name,
               subcategory_name: product_name,


           };

           console.log("test", queryDataSet);


           var result = productEditSaved(queryDataSet);


       }{% endcomment %}

        var queryDataSet = {
            key : key,
            customer_name: saved_customer_name,
            customer_mobile: saved_customer_mobile,
            customer_due_amount: saved_customer_due_amount,


        };
        console.log("test", queryDataSet);
         {#var result = productEditSaved(queryDataSet);#}
    function saveData(queryDataSet){
        $.ajax({
            type:'POST',
            url: '/customer_saved',
            data:{
                customer_name: $('#customer_name').val(),
                customer_mobile_number: $('#customer_mobile').val(),
                customer_due_amount: $('#customer_due_amount').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                alert("updated");
            }
        });
    }


</script>
</html>