<html>
<head>
    <link href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"
          rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"
          rel="stylesheet" type="text/css">

    <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"
          rel="stylesheet" type="text/css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
</head>
<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Due Amount</th>
        <th></th>
        <th></th>
    </tr>


    </thead>
    <tbody>
    {% for i in customer %}
        <tr>
            <td>
                <input type="checkbox" >
            </td>
        <td >{{ i.customer_name }}</td>
        <td >{{ i.customer_mobile_number }}</td>
        <td >{{ i.customer_due_amount }}</td>
        <td ><a href="{% url 'customersq' i.id %}"><i class="fa fa-angle-right"></i></a></td>
        <td ></td>
        </tr>


    {% endfor %}
    </tbody>
</table>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script>
    var table = $('#example').DataTable({
        responsive: {
            details: {
                type: 'column',
                target: -1,
            }
        },
        columnDefs: [{
            targets: -1,
            orderable: false,
            searchable: false,
            className: 'control',
        }, {
            targets: 0,
            orderable: false,
            searchable: false,
            className: 'selectall-checkbox',
        }


        ],
        select: {
            style: 'multi',
            selector: 'td:first-child',
        },

        order: [[0, 'desc']],


    });
    {#$.fn.dataTable.ext.errMode = 'none';#}
    table.on('select.dt deselect.dt', function (e, dt, type, indexes) {
        var countSelectedRows = table.rows({selected: true}).count();
        var countItems = table.rows().count();

        if (countItems > 0) {
            if (countSelectedRows == countItems) {
                $('thead .selectall-checkbox input[type="checkbox"]', this).prop('checked', true);
            } else {
                $('thead .selectall-checkbox input[type="checkbox"]', this).prop('checked', false);
            }
        }

        if (e.type === 'select') {
            $('.selectall-checkbox input[type="checkbox"]', table.rows({selected: true}).nodes()).prop('checked', true);
        } else {
            $('.selectall-checkbox input[type="checkbox"]', table.rows({selected: false}).nodes()).prop('checked', false);
        }
    });

    // When clicking on "thead .selectall-checkbox", trigger click on checkbox in that cell.
    table.on('click', 'thead .selectall-checkbox', function () {
        $('input[type="checkbox"]', this).trigger('click');
    });


    // When clicking on the checkbox in "thead .selectall-checkbox", define the actions.
    table.on('click', 'thead .selectall-checkbox input[type="checkbox"]', function (e) {
        if (this.checked) {
            table.rows().select();
        } else {
            table.rows().deselect();
        }

        e.stopPropagation();
    });


</script>
</html>