<html>
<head>


</head>
<body>


{% include 'map_main_file.html' %}


</body>

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>

    var dhakaDivisionMap = ['DhakaMap', 'GazipurMap', 'KishoreganjMap', 'ManikganjMap', 'MunshiganjMap', 'NarayanganjMap', 'NarsingdiMap', 'TangailMap', 'FaridpurMap', 'GopalganjMap', 'MadaripurMap', 'RajbariMap', 'ShariatpurMap'];
    var chattogramDivisionMap = ['BrahmanbariaMap', 'ComillaMap', 'ChandpurMap', 'LakshmipurMap', 'NoakhaliMap', 'FeniMap', 'KhagrachhariMap', 'RangamatiMap', 'BandarbanMap', 'ChittagongMap', 'CoxsBazarMap'];
    var rangpurDivisionMap = ['ThakurgaonMap', 'RangpurMap', 'PanchagarhMap', 'NilphamariMap', 'LalmonirhatMap', 'KurigramMap', 'GaibandhaMap', 'DinajpurMap'];
    var rajshahiDivisionMap = ['BoguraMap', 'ChapainawabganjMap', 'JoypurhatMap', 'NaogaonMap', 'NatoreMap', 'PabnaMap', 'RajshahiMap', 'SirajgonjMap'];
    var barisalDivisionMap = ['BarisalMap', 'BargunaMap', 'BholaMap', 'JhalokatiMap', 'PatuakhaliMap', 'PirojpurMap'];
    var mymensinghDivisionMap = ['JamalpurMap', 'MymensinghMap', 'NetrokonaMap', 'SherpurMap'];

    var sylhetDivisionMap = ['HabiganjMap', 'MoulvibazarMap', 'SunamganjMap', 'SylhetMap'];
    var khulnaDivisionMap = ['BagerhatMap', 'ChuadangaMap', 'JessoreMap', 'JhenaidahMap', 'KhulnaMap', 'KushtiaMap', 'MaguraMap', 'MeherpurMap', 'NarailMap', 'SatkhiraMap'];


    for (i in dhakaDivisionMap) {
        if (dhakaDivisionMap[i].indexOf !== 0) {
            $('#' + dhakaDivisionMap[i]).on('click', function () {
                $.each(dhakaDivisionMap, function (i, j) {
                    $('#' + dhakaDivisionMap[i]).css("fill", "green");
                });
            });

        }

    }

</script>


</html>